<!--<div>
  <a ng-href="#/home">Home</a> |
  <a ng-href="#/search">Search</a> | 
  <a ng-href="#/home/settings">Settings</a> | 
  <a ng-href="#/home/vk/friends">My Vk Friends</a> | 
  <a ng-href="#/logout">Logout</a>
</div>
-->

<div id="button">^
	<div id="s_panel">
    <div id="header">
    	<div id="logo">
    	<div class="logo_text">MapI</div>
       	<a href="#" class="img_logo">
  	 		<img src="/static/Mapi/img/logo.png" width="60px" height="95px" alt=""/>
		</a>
        </div>
        <a ng-href="#/search" class="button7">Поиск</a>
        <a ng-href="#/home/vk/friends" class="button8">Друзья в vk</a>
        <a ng-href="#/home/settings" class="button9">Настройки</a>
        <a ng-href="#/logout" class="button10">Выйти</a>
        <div class="soc_web1">
        <a href="#" class="vk"></a>
        <a href="#" class="twit"></a>
        </div>
    </div>
    
	</div>
</div>
