<!doctype html>
<html ng-app="imhApp">
<head>
  <title>Imh</title>
  <link rel="stylesheet" href="/static/css/main.css">

  <script src="/static/lib/angular/angular.min.js"></script>
  <script src="/static/lib/angular/angular-resource.min.js"></script>
  <script src="/static/lib/angular/angular-route.min.js"></script>

  <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>

  <script src="/static/js/app.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/directives.js"></script>
  <script src="/static/js/services.js"></script>
</head>
<body ng-controller="MapCtrl">
  <!--<map></map>-->
  <input type="text" placeholder="Username" ng-model="username"/><br/>
  <input type="password" placeholder="Password" ng-model="password"><br/>
  <input type="submit" value="Enter" ng-click="login()"/><br/>
  <input type="submit" value="Some" ng-click="some()"/>
</body>
</html>
